<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="whoopsnoroute" frontName="whoopsnoroute">
            <module name="Training_Custom404Page"/>
        </route>
    </router>
</config>
